<html ng-app="app">
<head>
    <link rel="stylesheet" href="bower_components/jqrange-slider/dest/css/iThing.css" type="text/css" />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/jqrange-slider/dest/jQAllRangeSliders-withRuler.js"></script>
    <script type="text/javascript" src="src/angular-jqrange-slider.js"></script>
    <script type="text/javascript" src="demo.js"></script>
</head>
<body ng-controller="mainCtrl">
<div style="height: 400px; width: 600px;">
    <jqrange-slider options="options" ></jqrange-slider>
</div>
<button ng-click="redraw()">Redraw</button>
<pre>{{range | json}}</pre>
<div>
    Bounds min: <input type="date" ng-model="options.jqOptions.bounds.min"/>
</div>
<div>
    Bounds max: <input type="date" ng-model="options.jqOptions.bounds.max"/>
</div>
<div>
    Range min: <input type="date" ng-model="options.selectedRange.min" />
</div>
<div>
    Range max: <input type="date" ng-model="options.selectedRange.max" />
</div>


</body>
</html>